@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --animate-marquee: marquee 40s linear infinite;
  
  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
